{% extends 'plantillas/page_base.html' %}
{% block body %}
    <div class="container mt-5" style="background-size: cover; background-position: center; background-attachment: fixed;">
        <div class="bg-primary text-white p-5 rounded shadow-lg" style="background: linear-gradient(to right, #283c86, #1c248f);">
            <h1 class="text-center mb-4 text-light">Bienvenidos a la Plataforma Educativa</h1>
            <p class="text-center mb-4" style="font-size: 1.2em; line-height: 1.8;">
                Esta aplicación está diseñada para revolucionar la manera en que docentes y estudiantes interactúan con los procesos de evaluación. 
                Aquí, los Docentes pueden crear, gestionar y programar exámenes personalizados, asegurándose de ofrecer una experiencia clara, dinámica y estructurada. 
                Por su parte, los Estudiantes tienen un espacio intuitivo y accesible para presentar sus exámenes de manera eficiente.
            </p>
            <hr class="my-4" style="border-top: 1px solid rgba(255, 255, 255, 0.4);">
            <p class="text-center mb-4" style="font-size: 1.1em; line-height: 1.8;">
                Nuestro objetivo es simplificar y optimizar los procesos educativos, proporcionando herramientas que promuevan un aprendizaje efectivo y 
                una evaluación justa. Estamos comprometidos con la innovación y la excelencia educativa, ofreciendo una solución confiable para ambos 
                roles fundamentales: docentes y estudiantes.
            </p>
        </div>
    </div>
{% endblock %}